.contact-section {
  position: relative;
}

.contact-wrapper {
  overflow: hidden;
}

.contact-box {
  border: 1px solid #2d3032;
  background-color: rgba(255, 255, 255, 0.5);
  z-index: 222;
  margin: 100px 0;
  backdrop-filter: blur(5px);
}

@media only screen and (max-width: 768px) {
  .contact-box {
    border: none;
  }
}

/* map style */

.map-height {
  position: absolute;
  top: -20%;
  left: 0;
  height: 120% !important;
}
