@font-face {
  font-family: "Gilroy";
  src: url(../fonts/Gilroy-Medium.ttf);
}

body {
  font-family: "Gilroy", sans-serif;
  font-size: 16px;
}

.container {
  max-width: 1150px !important;
}

.size-24 {
  font-size: 24px;
  margin-top: 0;
  padding-top: 0;
}

.section-title {
  font-size: 36px;
  /* font-weight: 600; */
  margin-bottom: 50px;
}

.form-select {
  background-image: none !important;
}
.form-select:focus {
  border-color: #2d3032;
  outline: 0;
  box-shadow: none;
}
.butn2 {
  border-radius: 0;
  border-color: #2d3032;
  margin-bottom: 7px;
  width: 100%;
}

.butn:focus,
.butn:active {
  box-shadow: none;
}

.butn:hover {
  color: #fff;
  background-color: #017637;
  box-shadow: 0 20px 40px 0 rgba(0, 147, 68, 0.25);
}

.active {
  background-color: #017637;
  color: #fff;
  border-color: #017637;
}

.butn3 {
  margin-bottom: 18px;
}

.main-section-title {
  font-size: 36px;
  font-weight: 500;
  margin-bottom: 50px;
  padding: 0 10px;
}

/* news card style */

.swiper-slide {
  background: #bfe4d0 !important;
  text-align: left !important;
}

.btn-primary,
.btn-primary:hover {
  background-color: #009344;
  border: none;
}

.btn-primary:focus,
.btn-primary:active {
  background-color: #017637;
  border: none;
}
