/* map style */

.map-div path {
  fill: #009344;
  stroke: rgba(0, 0, 0, 0.829);
  stroke-width: 2px;
  transition: fill 0.3s ease;
}

.map-div path:hover {
  fill: rgba(72, 241, 95, 0.795);
  stroke: rgb(0, 0, 0);
  stroke-width: 1px;
  fill-rule: evenodd;
}

.map-div path:active {
  fill: #0f703d;
  stroke-width: 1px;
  stroke: #fff;
}

.map-div path:focus {
  fill: #0f703d;
  stroke-width: 1px;
  stroke: #fff;
}

#bukhoro:active {
  margin: 2px;
}

.boxListdist {
  width: 100%;
  height: 150px;
  background: #009344;
  color: rgb(0, 0, 0);
}

.boxListdist ul li {
  list-style: none;
}

#UZ828::after {
  content: "";
  display: inline-block;
  width: 5px;
  height: 5px;
  background: red;
}

.branch-section-title {
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 100px;
}

.link-btn-map {
  background-color: #009344;
  font-size: 18px;
  text-decoration: none;
  padding: 24px 50px;
  color: #fff;
  transition: 0.3s ease all;
  letter-spacing: 1.2;
  height: 60px;
  display: flex;
  align-items: center;
}
.link-btn-map t {
  position: relative;
  top: -8px;
}

.boxDistrict h2 {
  position: relative;
  margin: 2rem 0;
}

.boxDistrict h4 {
  position: relative;
  margin: 2rem 0;
}

.link-btn-map:hover {
  color: #fff;
  background-color: #017637;
  box-shadow: 0 20px 40px 0 rgba(0, 147, 68, 0.25);
}

.icon-loc {
  width: 25px !important;
  position: absolute !important;
  cursor: pointer;
}
/* xorazm */
#xorazm {
  position: absolute !important;
  top: 47% !important;
  left: 25% !important;
}

#nukus {
  position: absolute !important;
  top: 24% !important;
  left: 15% !important;
}

/* surxondaryo */
#surxondaryo {
  right: 32%;
  left: auto;
  bottom: 8%;
}

/* navoi */
#navoi {
  position: absolute !important;
  top: 45% !important;
  left: 50% !important;
}

/* samarqand */
#samarkand {
  position: absolute !important;
  top: 68% !important;
  left: 60% !important;
}

/* sirdaryo */
#sirdaryo {
  position: absolute !important;
  top: 58% !important;
  left: 72% !important;
}

/* qashqadaryo */
#qashqadaryo {
  right: 40%;
  left: auto;
  bottom: 15%;
}

/* buhoro */
#buhoro {
  right: 55%;
  left: auto;
  bottom: 30%;
}

/* jizzakx */
#jizzakx {
  right: 30%;
  left: auto;
  bottom: 35%;
}

/* toshkent */
#toshkent {
  right: 18%;
  left: auto;
  top: 52%;
}

/* fergan */
#fergan {
  right: 12%;
  left: auto;
  top: 59%;
}

/* namangan */
#namangan {
  right: 8%;
  left: auto;
  top: 52%;
}

/* andijon */
#andijon {
  right: 2%;
  left: auto;
  top: 55%;
}
@media only screen and (max-width: 650px) {
  /* xorazm */
  #xorazm {
    position: absolute !important;
    top: 43% !important;
    left: 25% !important;
  }

  /* surxondaryo */
  #surxondaryo {
    right: 30%;
    left: auto;
    bottom: 8%;
  }

  /* navoi */
  #navoi {
    position: absolute !important;
    top: 45% !important;
    left: 50% !important;
  }

  /* samarqand */
  #samarkand {
    position: absolute !important;
    top: 64% !important;
    left: 58% !important;
  }

  /* sirdaryo */
  #sirdaryo {
    position: absolute !important;
    top: 55% !important;
    left: 72% !important;
  }

  /* jizzakx */
  #jizzakx {
    right: 30%;
    left: auto;
    bottom: 35%;
  }

  /* toshkent */
  #toshkent {
    right: 18%;
    left: auto;
    top: 47%;
  }

  /* fergan */
  #fergan {
    right: 10%;
    left: auto;
    top: 54%;
  }

  /* namangan */
  #namangan {
    right: 8%;
    left: auto;
    top: 47%;
  }

  /* andijon */
  #andijon {
    right: 1%;
    left: auto;
    top: 50%;
  }
}
