@import url(main.css);

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  background-color: #009344;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 26px 0;
}

.logo-img {
  max-width: 125px;
  vertical-align: top;
}

ul {
  list-style-type: none;
  margin: 0;
}
ul li {
  display: inline-block;
  margin: 0 15px;
}

.menu__link,
.menu__link:hover {
  text-decoration: none;
  color: #fff;
  font-size: 14px;
}

/* Cabinet btn style */
.cabinet-btn {
  border: 1px solid #fff;
  padding: 10px 30px;
  margin-left: 40px;
  cursor: pointer;
  transition: 0.3s ease all;
}
.cabinet-btn:hover {
  background-color: #017637;
}

.cabinet-btn__text {
  color: #fff;
  text-align: center;
  margin: 0;
}

/* active menu btn */
.line {
  cursor: pointer;
  margin-left: 50px;
}
.line .line1,
.line2,
.line3 {
  width: 60px;
  height: 3px;
  margin-bottom: 5px;
  background-color: #fff;
}
.line3 {
  margin-bottom: 0;
}

/* HERO SECTION */

.hero {
  background-color: rgba(177, 203, 189, 0.25);
  position: relative;
  overflow: hidden;
}

.hero-info-box {
  padding: 100px 0;
}
.hero-info-box__title {
  font-size: 42px;
  font-weight: 600;
  margin-bottom: 52px;
}

.hero-info-box__text {
  font-size: 24px;
}

.hero-info-box__icon {
  display: flex;
  margin: 40px 0;
}

.icon-box__svg {
  width: 67px;
}

.icon-box__title {
  display: block;
  font-size: 18px;
}

.icon-box2 {
  margin: 0 100px;
}

/* KNOPKA CTA */

.link-btn {
  background-color: #009344;
  font-size: 18px;
  text-decoration: none;
  padding: 24px 77px;
  color: #fff;
  transition: 0.3s ease all;
}

.link-btn:hover {
  color: #fff;
  background-color: #017637;
  box-shadow: 0 20px 40px 0 rgba(0, 147, 68, 0.25);
}

/* hero img */

.hero-img {
  position: absolute;
  right: -20px;
  bottom: 0;
}

/* ********  Наши преимущества *********** */
.benefits {
  padding: 100px 0;
}

.section-title {
  font-size: 36px;
  font-weight: 600;
}

.circle-card {
  /* background-color: rgba(0, 147, 68, 0.25); */
  background-color: red;
}
